:root {
  --cardWidth: 300px;
  --cardHeight: 460px;
  --cardMargin: 16px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif', 'segoe ui';
  font-weight: 500;
  margin:0;
  padding: 0;
}

body {
  margin: 0px;  
}